@tailwind base;
@tailwind components;
@tailwind utilities;

.table-wrapper {
    overflow-y: auto;
}

.table-wrapper::-webkit-scrollbar {
    width: 10px; 
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #E3D4F6;
}

.table-wrapper::-webkit-scrollbar-button {
    display: none !important
}

.table-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #E3D4F6 transparent;
    border-radius: 30px; 

}

td {
    width: 4rem !important;
    overflow: hidden !important;
}